.container{
    font-family: fantasy;
    color: rgb(3, 3, 91);
    text-align: center;
 }
 .box{
text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(65, 63, 63);
 }